/* Estilo para estruturas*/
aside {
    border: 1px solid #8e0909;
    background-color: oklch(92.4% 0.12 95.746);
    border-radius: 10px;
    margin: 0 20%;
    list-style: none;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(oklch(96.2% 0.059 95.617), oklch(98.7% 0.022 95.277));
    margin: 0;
    padding: 0;
}

header {
    background-color: oklch(92.4% 0.12 95.746);
    width: 50%;
    border: none;
    border: 1px solid #8e0909;

    

}
header img{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 30px;
    align-items: start;
    padding: 0px;
}

h1 {
    font-size: 30px;
}

li {
    margin-right: 40px;
    color: #8e0909;
}

header img {
    display: flex;
    justify-content: flex-start;
    width:55%;
    margin-bottom: 0;
}


/* Estilo para estruturas em class*/
.centralizado {
    text-align: center;
}

.img_center {
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}

.italico {
    font-style: italic;
    color: #606060
}

.lista_vertical {
    display: flex;
    padding: 0;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 0;
    margin-top: 4%
    
}

header nav ul li a {
color: rgb(13, 12, 12);
text-decoration: none;
font-weight: bold;
transition: all 0.3s;
}

.margem_inferior {
    margin-bottom: 0;
}

.margem_superior {
    margin-top: 0;
}

.retirar_ponto_inicial {
    list-style: none;
}